# Untracked files:
*.docstates
*.pidb
*.nupkg
*.suo
*.userprefs
*.user
*ReSharper*
packages/*
Help/*
C5/bin/*
C5/obj/*
C5.Tests/bin/*
C5.Tests/obj/*
C5.UserGuideExamples/bin/*
C5.UserGuideExamples/obj/*

# Include
!/.nuget/*
