# Build ASP.NET Core project using Azure Pipelines
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core?view=vsts

pool:
  vmImage: 'windows-2019'
  
variables:
  buildConfiguration: 'Release'

steps:
- task: DotNetCoreCLI@2
  inputs:
    command: build
    arguments: /P:SourceLinkCreate=false --configuration $(buildConfiguration)
  displayName: Build

- task: DotNetCoreCLI@2
  inputs:
    command: test
    projects: "**/*Tests/*.csproj"
    arguments: '/P:SourceLinkCreate=false --configuration $(buildConfiguration) --collect "Code coverage"'
  displayName: Test

- task: CopyFiles@2
  inputs:
    sourceFolder: $(Build.SourcesDirectory)/C5/bin/$(buildConfiguration)
    contents: '*.nupkg'
    targetFolder: $(Build.ArtifactStagingDirectory)
    flattenFolders: true
  displayName: 'Copy files'

- task: NodeTool@0
  inputs:
    versionSpec: '10.x'
  displayName: 'Install Node.js'
  
- script: |
    npm install -g doxygen
    npm install -g graphviz
    doxygen --download
    doxygen --docs --configPath="C5/Doxyfile"
  workingDirectory: $(Build.SourcesDirectory)
  displayName: 'Generate documentation'
  failOnStderr: true

- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: '$(Build.SourcesDirectory)/C5.Docs/html' 
    includeRootFolder: false 
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/c5docs.zip' 
  displayName: 'Archive documentation'
    
- task: PublishBuildArtifacts@1
  displayName: Publish Build Artifacts
